* {box-sizing: border-box;}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    scrollbar-width: thin;
    scrollbar-color: #CE9CFF;
}
#container {
    position: relative;
}
#main {
    width: calc(100% - 500px);
    height: 100vh;
    overflow: auto;

    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: #F2E2FF;
    font-family: Tahoma;
    font-size: 14px;
    background-image: url('/scripts/comments/sparkle-bg.gif');
    background-attachment: fixed;
}
#comments {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 500px;
    height: 100vh;
}

@font-face {
	font-family: pkmngs;
	src: url('/fonts/pkmngs.ttf');
}
.word-wrap {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}
#main h1 {
    margin-top: 0;
}
#main h1, #main h2, #main h3, #main h4 {
    font-family: pkmngs;
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 0px;
}
#main h1, #main h2 {
    text-decoration: underline;
}
#main h3, #main h4 {
    margin-left: 10px;
}
#main h4 {
    margin: 0;
    padding: 0;
}
#main img {
    display: block;
    width: 100%;
    max-width: 450px;
}
#main img {
    margin: 10px;
    margin-left: 0px;
}
#main p, .colored {
    background-color: #20083B;
    padding: 10px;
    border: 2px dotted #CE9CFF;
    border-radius: 5px;
}
#main ul, #main ol {
    list-style-position: inside;
    margin-left: 20px;
}
#main ul {
    list-style-type: square;
}
#main li {
    margin: 5px;
}
#main code {
    color: white;
    background-color: #160629;
}
#main em {
    font-style: normal;
    font-weight: bold;
    color: white;
}
#main button, #main select {
    outline: none;
    border: none;
    background-color: black;
    color: #B766FF;
    border: 1px solid white;
    padding: 4px;
    cursor: pointer;
}
#main button:hover, #main select:hover {
    color: white;
    border: 1px solid #B766FF;
}
#main a:link, #main a:visited {
    color: white;
    text-decoration: underline;
}
#main a:hover, #main a:active {
    background-color: black;
}
#download select, #download button {
    margin-bottom: 0px;
}
#pcexample {display: inline;}
#mobileexample {display: none;}

@media only screen and (max-width: 1000px) {
    body {
        overflow: auto;
    }
    #main {
        width: 100%;
        height: auto;
        padding: 20px;
    }
    #comments {
        position: relative;
        width: 100%;
        height: auto;
    }
    #pcexample {display: none;}
    #mobileexample {display: inline;}
    #main h3, #main h4, #main ul, #main ol {margin-left: 0px;}
}