:root {
  --postheight: 680px;
  --postheight: 100%;
  --postheight: calc(100% - 30px);
  --postheight: -moz-calc(100% - 30px);
  --postheight: -webkit-calc(100% - 30px);
  /* --postheight: -o-calc(100% - 30px); */
  --postheight-margintop: 15px;
  --postwidth: 580px;
  --postwidth: 780px;
  --endbanner-size: 680px;
  --palette1: #5770b0;
  /* for main text (light #ede4cf) */
  --palette2: #141d38;
  --palette3: #fcc724;
  --palette4: #5770b0;

  --bg-wholepage: fixed url(https://tools.creatureframe.com/assets/eachpost/jazzcat/bg_jazzcatwindow.png);
  --bg-post: fixed url(https://tools.creatureframe.com/assets/eachpost/jazzcat/bg_jazzcatwindow_blur0x10.png);
  /* --bg-textbox: fixed url(https://tools.creatureframe.com/assets/eachpost/jazzcat/bg_jazzcatwindow_blur0x20_darker4b.jpg); */
  --bg-textbox: fixed url(../assets/backgrounds/eachpost/bg_jazzcatwindow_blur0x20_darker4d.jpg);
  --bg-codebox: fixed url(https://tools.creatureframe.com/assets/eachpost/jazzcat/bg_wallflat_blur0x20.jpg);
  --bg-pos: bottom left;

}

.outermostbox {
	height:100%;
	height:calc(100% - 30px);
	height:-moz-calc(100% - 30px);
	height:-webkit-calc(100% - 30px);
	width:100%;
	position:fixed;
	min-height:100%;
	overflow-y:auto;
	border:4px solid var(--palette1);
}
.columnbox{
	align-items: center;
	display: flex;
	justify-content: center;
	height:100%;
}
#postsize{
	max-width:var(--postwidth);
	padding:auto;
	height:var(--postheight);
	margin-top:var(--postheight-margintop);
}

/* GO BACK BUTTON IN CORNER */
.goback {
    position:fixed;
    /* position:relative; */
    /* position:absolute; */
    top:5px;
    left:5px;
    top:10px;
    left:10px;
    width:30px;
    height:30px;
    background: url('https://i.imgur.com/ZRbc9ID.png') top left;
    background: url('../assets/icons/gobackarrow_0.png') top left;
    margin:0px -30px -30px 0px;
    z-index:300;
}
.goback:hover {
    background: url('https://i.imgur.com/MJEkyuI.png') top left;
    background: url('../assets/icons/gobackarrow_1.png') top left;
}

/* GO FORWARD BUTTON IN CORNER */
.goforward {
    position:fixed;
    /* position:relative; */
    /* position:absolute; */
    top:5px;
    top:10px;
    width:30px;
    height:30px;
    background: url('../assets/icons/gobackarrow_0.png') top left;
    z-index:300;

    right:5px;
    right:10px;
    margin:0px 0px -30px -30px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.goforward:hover {
    background: url('https://i.imgur.com/MJEkyuI.png') top left;
    background: url('../assets/icons/gobackarrow_1.png') top left;
}

:root {
	--fiximagesize: 200px;
	--fiximagesizemargin: 15px;
}
.qrcode {
	position:fixed;
	bottom:var(--fiximagesizemargin);
	right:var(--fiximagesizemargin);
	width:var(--fiximagesize);
	height:var(--fiximagesize);
	z-index:300;
	border:3px solid var(--palette1);
}
.post-bgimg{
    background: var(--bg-post);
	/* background-position:bottom left; */
    background-position: var(--bg-pos);
}

/* HANDLED PER POST */
/* textbox-bgimg not used anymore */
.textbox-bgimg, .textbox{
	background: var(--bg-textbox);
	/* background-position:bottom left; */
    background-position: var(--bg-pos);
	box-shadow: 4px 3px 0px #529eaa;
	box-shadow: 4px 3px 0px #3c5186;
	box-shadow: 4px 3px 0px #5770b0;
	border:1px dashed #5770b0;
	box-shadow:rgba(0, 0, 0, 0.3) 1px 2px 3px,rgba(0, 0, 0, 0.2) 0px 2.5px 6px;

    position:relative;
    z-index:5;
    /* font-size:9pt; */
    line-height:155%;
}
/* .codebox{
	background: fixed url("https://tools.creatureframe.com/assets/backgrounds/backgrounds_painty_01_yellow_blur 0x12.jpg");
	background: fixed url("https://tools.creatureframe.com/assets/backgrounds/backgrounds_painty_01_yellow_blur-0x12_sat.jpg");
	background: fixed url("https://tools.creatureframe.com/assets/eachpost/jazzcat/bg_wallflat_blur0x20.jpg");
    background: var(--bgcodebox);
    background-position: var(--bg-pos);
} */
.banner-img{
	min-width: 1000px;
	max-width: 1000px;
}
.banner-start{
	margin-top:30px;
	filter: none;
	filter: drop-shadow(-2px 2px 3px #813d00);
	filter: drop-shadow(-2px 2px 0.5px #333);
	filter: drop-shadow(-2px 2px 3.7px rgba(0, 0, 0, 0.5));
}
.bannerend-inside{
	height:650px;
	margin-top: 5px;
	margin-top:30px;
}
.bannerend-inside{
	height:650px;
	margin-top: 5px;
	margin-top:10px;
}
.banner-end{
	filter: none;
	filter: drop-shadow(4px 5px 0px #f5b043);
    /* filter: drop-shadow(-2px 2px 6.7px rgba(0, 0, 0, 0.5)); */
	rotate:180deg;
}

/* HANDLED PER POST */
.font-styling{
	font: 10pt "Verdana", "Courier", "Helvetica", sans-serif;
	font-weight: 400;
	line-height: 145%;
	letter-spacing: 1px;
	padding: 0px;
	text-align: justify;
	border-radius: 6px;
    color: var(--palette2);
}
/* HANDLED PER POST */
.bigtitle{
	font-size: 28pt;
	font-family: courier;
	/* color:#723e13; */
	/* color:#FFDE78; */
	color:#623008;
	font-weight: 600;
	text-decoration: none;
	filter: drop-shadow(3px 0px 0px #623008);
	border:none;
	background:transparent;
	padding:10px 17px;
	margin:0px;
	background: fixed url("https://tools.creatureframe.com/assets/backgrounds/backgrounds_painty_01_yellow_blur-0x12_sat.jpg");
	border-radius: 8px;
	margin:10px 40px;
	border:1px solid #fcc724;
	filter: none;
	box-shadow: 5px 3px 0px #FFDE78;
	padding:15px;
	line-height: 74%;
	background: fixed url("https://tools.creatureframe.com/assets/eachpost/jazzcat/bg_wallflat_blur0x20.jpg");
	color:#fcc724;

    color: var(--palette3);
}
.tinytext{
	font: 8pt "Tahoma", "DM Mono", "Courier", "Verdana", "Helvetica", sans-serif;
	font-weight: 500;
	line-height: 125%;
	letter-spacing: 0.5px;
	color: #fff;
	color: #473627;
	text-align: justify;
}
.tinytextbox{
	color:#473627;
}
.minititle{
	border:none;
	border-bottom:1px solid #529eac;
}
ul {
	margin: 0 0 0 22px;
	font: 8pt Verdana;
	letter-spacing: 1.5px;
}
.list-notes li {
	background: url(../../../posts/media_ACNLdreams/assets/icons/notebook.gif) no-repeat 7px 7px transparent;
	list-style-type: none;
	margin: 0;
	padding: 8px 20px 0px 39px;
	vertical-align: middle;
	margin-top: 7px;
	line-height: 140%;
}
.scrollbox{
	justify-content:space-between;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -5px inset, rgba(0, 0, 0, 0.4) 0px 18px 36px -3px inset, rgba(0, 0, 0, 0.8) 0px 0px 5px -1px inset;
	width: 96%;
	height:96%;
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
	box-shadow:rgba(0, 0, 0, 0.14) 1px 3px 15px,rgba(0, 0, 0, 0.22) 0px 2.5px 5px,rgba(122, 122, 122, 0.32) 3px 3px 0px,rgba(122, 85, 85, 0.35) 1px 1px 0.3px;
	padding:0px;
	margin:0px;
	position:relative;
}
pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	white-space: pre-wrap;
}
.codebox{
	border:1px solid #c59172;
	width: 80%;
	margin:0% 10% 0% 10%;
	padding:10px;
	padding:10px 22px;
	border-radius: 3px;
	font: 8pt "Verdana", "Courier", "Helvetica", sans-serif;
	font-weight: 400;
	line-height: 105%;
	letter-spacing: 1.5px;
	color: #623008;
	text-align: left;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	box-shadow: 8px 3px 0px #c59172;


    /* background: fixed url("https://tools.creatureframe.com/assets/eachpost/jazzcat/bg_wallflat_blur0x20.jpg"); */
    background: var(--bgcodebox);
    /* background-position:bottom left; */
    background-position: var(--bg-pos);
}
.codebox2{
	background: fixed url("https://tools.creatureframe.com/assets/backgrounds/backgrounds_painty_01_yellow_blur-0x12_orange.jpg");
	/* background-position:bottom left; */
    background-position: var(--bg-pos);
	font: 8pt "Courier", "Helvetica", monospace;
	color: #fff;
	font-weight: 500;
	text-align: left;
}
/* HANDLED PER POST */
.liltitle{
	font-size: 18pt;
	filter: none;
	margin:0% 22% -17px 22%;
	padding:11px;
	border:1px solid #5770b0;
	box-shadow: 5px 3px 0px #5770b0;
	color:#fff !important;
	color:#1f3366 !important;
	color:#3c5186 !important;
	background: fixed url("https://tools.creatureframe.com/assets/eachpost/jazzcat/bg_wallflat_invert2_blur0x10.jpg");
}
body{
	background: fixed url(https://tools.creatureframe.com/assets/eachpost/jazzcat/bg_jazzcatwindow_blur0x10.png);
	background: fixed url(../assets/backgrounds/BG_loopingGrids-assets/BG_loopingGrid_A_inv7.png);
	background: fixed url(https://tools.creatureframe.com/assets/eachpost/jazzcat/bg_jazzcatwindow_blur0x10.png);
	background-position:bottom left;

    background: var(--bg-wholepage);
    background-position: var(--bg-pos);
}
.scrollbox-wheel{
	line-height:1.7em;
	overflow-y:auto;
	overflow-x:hidden;
	height:100%;
	width:100%;
	margin: auto;
	text-align:justify;
}
.scrollbox-wheel::-webkit-scrollbar{
	width:1.1em;
}
.scrollbox-wheel::-webkit-scrollbar-thumb{
	border:0.45em solid transparent;
	border:.1em solid #fff;
	box-shadow:inset 0 0 0.5em 0.5em #5770b0;
	border-radius:0.9em;
}
.post-cohostbarrier {
	height:var(--postheight);
}
.bannerstart-contain {
	margin-top:calc(var(--endbanner-size) * -1);
	margin-top:-moz-calc(var(--endbanner-size) * -1);
	margin-top:-webkit-calc(var(--endbanner-size) * -1);
	height:var(--endbanner-size);
}
.sidebysidecontainer{
	width:100%;
	display:inline-block;
	padding:0px;
}
.sidebysideimg{
	width:40%;
	display:inline-block;
	pointer-events: none;
	image-rendering:auto;
}
.sidebysideimg{
	width:40%;
	display:inline-block;
	pointer-events: none;
	image-rendering:pixelated;
	image-rendering:crisp;
	image-rendering:auto;
	width:49.5%;
}
.urlyblock{
	border:none;
	border-bottom:1px solid #529eaa;
	border-top:1px solid #529eaa;
	padding:1px;
	background:#3c5186;
}
.banner-end-noflip{
	filter: drop-shadow(-2px 2px 0px #6BFFF6);
	filter: none;
	filter: drop-shadow(-2px 2px 3px #813d00);
	filter: drop-shadow(-2px 2px 6.7px rgba(0, 0, 0, 0.5));
	pointer-events: none;
	bottom:0px;
	display: inline-block;
	align-self: flex-end;
	margin: 0px;
	margin-bottom:19px;
	margin-bottom:-59px;
	height:auto;
	margin-bottom:0px;
}
.bannerend-inside-bg{
	pointer-events: none;
	display: flex;
	height: 100%;
	margin: 0px;
	margin-top: 5px;
	height:500px;
	position: absolute;
	margin-top: 5px;
	margin-top: 0px;
	margin-top: 180px;
	margin-bottom:-593px;
}
.banner-end-bg{
	filter: drop-shadow(-2px 2px 0px #6BFFF6);
	filter: none;
	filter: drop-shadow(-2px 2px 3px #813d00);
	filter: drop-shadow(-2px 2px 6.7px rgba(0, 0, 0, 0.5));
	pointer-events: none;
	bottom:0px;
	display: inline-block;
	align-self: flex-end;
	margin: 0px;
	margin-bottom:19px;
	margin-bottom:0px;
}
.urly-button{
	font-weight: 800;
	font-size:8pt;
	color: #f5b043;
	color: #723e13;
	padding:7px 15px;
	margin:-26px 30% 0px 30%;
	width:40%;
	color:#529eac;
	color:#fff;
	color:#4c6092;
	border-radius:5px;
	border:2px dashed #4c6092;
	background: fixed url("https://tools.creatureframe.com/assets/backgrounds/backgrounds_painty_01_yellow_blur-0x12_sat.jpg");
	background-position:bottom left;
	text-align: center;
	text-decoration: overline underline;
	text-decoration: underline;
	text-decoration-color: #fff;
	text-decoration:none;
	line-height: 110%;
	z-index: 40;
	position: relative;
}
.tablecontents-button{
	font-weight: 500;
	font-size:8pt;
	color:#529eac;
	color:#fff;
	color:#4c6092;
	color:#514861;
	text-decoration:none;
	line-height: 105%;
	padding:4px 6px;
	border-radius:2px;
	border:2px dashed #4c6092;
	background: fixed url("https://tools.creatureframe.com/assets/backgrounds/backgrounds_painty_01_yellow_blur-0x12_sat.jpg");
	background-position:bottom left;
	box-shadow: rgba(50, 50, 93, 0.55) 0px 4px 3px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border:1px solid #f5b043;
	border:1px solid #fff;
	width:100%;
	width:auto;
	margin:0px;
	margin-bottom:2px;
}


.deco-imgA-div{
    position: relative;
    z-index: 20;
    padding:0px;
    margin:0px;
    max-width:100%;
    filter: drop-shadow(-2px 2px 3.7px rgba(0, 0, 0, 0.3));
    /* border:1px solid #fcc724; */
}
.deco-imgA{
    width:250px;
}



/* NOT SURE IF NEEDED PROBS RMV */
.imgoverlap-top{
    margin-top:0px;
    margin-bottom:-10px !important;
    position:relative;
    z-index:10;
}
.contentunderlap-top{
    margin-top:-40px !important;
    position:relative;
    z-index:10;
}
