#rss {
			margin: auto;
			box-sizing: border-box;
			max-width: 400px;
			border: 1px solid black;
			padding: 10px;
			background: pink;
			color: darkslategrey;
		}

		#rss a {
			color: white;
			text-decoration: none;
		}

		#rss h3 a {
			color: dodgerblue;
		}

		#rss h3 {
			margin: 5px;
		}

		#rss h4 {
			margin: 10px 4px;
		}

		#rss p {
			padding: 0;
			margin: 0px 0px 0px 20px;
		}

		#rss div a {
			font-size: 10px;
		}
